.list {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  max-inline-size: 402px;
  min-block-size: 500px;
}


.item {
  padding: 7px;
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: 15px;
  padding-inline-end: 35px;
  min-inline-size: 0;
  position: relative;
}

.text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.item + .item {
  border-block-start: 1px solid var(--border-color, #77777780);
}
