.list {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  min-inline-size: 500px;
  max-inline-size: 402px;
  block-size: 550px;
  overflow-y: auto;
}

.list::-webkit-scrollbar {
  inline-size: 6px;
  margin-left: 31px;
}

.list::-webkit-scrollbar-thumb {
  background-color: rgb(82, 82, 82);
}

.item {
  padding: 7px;
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: 15px;
  padding-inline-end: 35px;
  min-inline-size: 0;
  position: relative;
  border-block-end: 1px solid var(--border-color, #77777780);
}

.item:hover button[data-remove-button] {
  opacity: 1;
}

.text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
