@import '../fonts/font.scss';
@import './variables.scss';
@import './reset.scss';

.page {
  background-color: var(--main-background-color, #c7c3b7);
  color: var(--main-text-color, #000);
  font-family: var(--font-family, sans-serif);
}
