.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-start: 50px;
}

.title {
  font-size: 72px;
  margin-block-end: 20px;
  color: #8f8e85;
}

.todos {
  background-color: #f2f2f2;
  border-radius: var(--border-radius, 5px);
  box-shadow: 4px 5px 3px 3px rgba(0 0 0 / 0.25);

}
