@import "../../styles/mixins/button.scss";
.button {
  @include button;
  inline-size: 27px;
  block-size: 27px;
  border-radius: 100%;
  border: 1px solid #888888bf;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover .svg:not(.svg_completed) {
  opacity: 0.5;
}

.svg {
  padding: 2px;
  opacity: 0;
  transition: opacity 0.25s ease-in-out, color 0.25s ease-in-out;
  color: rgba(0 0 0 / 0.4);
}

.svg_completed {
  opacity: 1;
  color: #00b745;
}
